dist/brovary.html
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <title>ArsVision - Digital Agency</title>
    <link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="css/style.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="js/ie.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="page">
      <header class="page-header inner">
        <div class="container">
          <a class="logo" href="index.html"></a>
          <div class="panel">
            <ul class="contact-details">
              <li>
                hello@ars.vision
              </li>
              <li>
                +48 794 079 729
              </li>
            </ul>
            <button class="nav-toggle" type="button"></button>
          </div>
        </div>
      </header>
      <div class="sidebar">
        <div class="sidebar-content flex-container">
          <button class="nav-close" type="button"></button>
          <div class="flex-block">
            <a class="logo" href="index.html"></a>
          </div>
          <div class="flex-block">
            <ul class="sidebar-nav">
              <li>
                <a href="work.html">Work</a>
              </li>
              <li>
                <a href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
          <div class="flex-block">
            <div class="contact-details">
              <div class="dl">
                <div class="dt">
                  Talk to us
                </div>
                <div class="dd">
                  hello@ars.vision
                </div>
              </div>
              <div class="dl">
                <div class="dt">
                  Telephone number
                </div>
                <div class="dd">
                  +48 794 079 729
                </div>
              </div>
              <div class="dl">
                <div class="dt">
                  Address
                </div>
                <div class="dd">
                  60-461 Poznań
                </div>
                <div class="dd">
                  ul. Teokryta 35
                </div>
              </div>
              <ul class="social">
                <li>
                  <a href="https://twitter.com/ars_vision" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="https://www.facebook.com/Ars-Vision-1094259237291419/" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/company/10525594" target="_blank"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/arsvision/" target="_blank"><i class="fa fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="page-body">
        <div class="case project projectPiwo">
          <div class="case-heading">
            <div class="container">
              <h1>
                Brewery Brand Photography
              </h1>
              <div class="desc">
                photography / 2016
              </div>
            </div>
          </div>
          <div class="case-body">
            <div class="preview">
              <img alt="" class="img-responsive" src="public/proj_piwo/proj_piwo_head.jpg" />
            </div>
            <div class="section s-1">
              <div class="container">
                <div class="row r-1">
                  <div class="col-1-3">
                    <h2>
                      Idea
                    </h2>
                  </div>
                  <div class="col-1-3">
                    <div class="text">
                      <p>
                        UDH is the 3rd largest importer of beer in Poland, with both global brands and local craft beers in its product range. We admire the craft beer for its unique taste. However, the brewers often put their heart and soul into the quality of such a beer, forgetting the challenges of commercial materials. Therefore, our challenge was to create promotional photography for a range of smaller craft beers, and to underline individual character of each brand - but without losing a common style of the photo session at large, so that all materials can be used in one coherent product catalogue.
                      </p>
                      
                    </div>
                  </div>
                  <div class="col-1-3">
                    <div class="text">
                      <p>
                        If you happen to be under 18, please do not scroll down :) Also, we declare that no amount of beer, craft or otherwise, was consumed by the team during the project work
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="section s-2">
              <div class="container">
                <div class="row">
                  <div class="col-1-2">
                    <div class="projectPiwo_imageCover">
                      <img alt="Kaiserdom Dark" class="img-responsive i-1 wow fadeInUp" data-wow-delay="0s" src="public/proj_piwo/pp_foto_1.jpg" />
                      <h2>
                        Kaiserdom<br />Dark
                      </h2>
                    </div>
                  </div>
                  <div class="col-2-2">
                    <div class="projectPiwo_imageCover">
                      <img alt="Funnel Blower" class="img-responsive i-2 wow fadeInUp" data-wow-delay="500ms" src="public/proj_piwo/pp_foto_2.jpg" />
                      <h2>
                        Funnel<br />Blower
                      </h2>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-1-2">
                    <div class="projectPiwo_imageCover">
                      <img alt="Kaiserdom Hefe-Weißbier" class="img-responsive i-1 wow fadeInUp" data-wow-delay="0s" src="public/proj_piwo/pp_foto_3.jpg" />
                      <h2>
                        Kaiserdom<br />Hefe-Weißbier
                      </h2>
                    </div>
                  </div>
                  <div class="col-2-2">
                    <div class="projectPiwo_imageCover">
                      <img alt="Funnel Blower" class="img-responsive i-2 wow fadeInUp" data-wow-delay="500ms" src="public/proj_piwo/pp_foto_4.jpg" />
                      <h2>
                        Funnel<br />SPATEN
                      </h2>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-1-2">
                    <div class="projectPiwo_imageCover">
                      <img alt="Kaiserdom Dark" class="img-responsive i-1 wow fadeInUp" data-wow-delay="0s" src="public/proj_piwo/pp_foto_5.jpg" />
                      <h2>
                        Bocmano Ūsai<br />Švyturys
                      </h2>
                    </div>
                  </div>
                  <div class="col-2-2">
                    <div class="projectPiwo_imageCover">
                      <img alt="Funnel Blower" class="img-responsive i-2 wow fadeInUp" data-wow-delay="500ms" src="public/proj_piwo/pp_foto_6.jpg" />
                      <h2>
                        WOLD TOP<br />
                      </h2>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-1-2">
                    <div class="projectPiwo_imageCover">
                      <img alt="Kaiserdom Dark" class="img-responsive i-1 wow fadeInUp" data-wow-delay="0s" src="public/proj_piwo/pp_foto_7.jpg" />
                      <h2>
                        Schnitzer Bräu
                      </h2>
                    </div>
                  </div>
                  <div class="col-2-2">
                    <div class="projectPiwo_imageCover">
                      <img alt="Funnel Blower" class="img-responsive i-2 wow fadeInUp" data-wow-delay="500ms" src="public/proj_piwo/pp_foto_8.jpg" />
                      <h2>
                        Kaiserdom<br />Hefe-Weißbier
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="projects_navi">
            <div class="container">
              <span class="projects_navi_item"><a href="/expo2017.html" title="EXPO 2017 - International Exposition">EXPO 2017</a></span><span class="projects_navi_item"><a href="/udh.html" title="An exclusive distributor of AB InBev in Poland">AB InBev distributor</a></span>
            </div>
          </div>
        </div>
      </div>
      <footer class="page-footer">
        <div class="wrap">
          <div class="row">
            <div class="logo-wrap">
              <a class="logo" href="#"></a>
            </div>
            <div class="contact-details">
              <div class="contact-block">
                <div class="dl">
                  <div class="dt">
                    Talk to us
                  </div>
                  <div class="dd">
                    <a href="mailto:hello@ars.vision">hello@ars.vision</a>
                  </div>
                </div>
                <div class="dl">
                  <div class="dt">
                    Office
                  </div>
                  <div class="dd">
                    <a href="mailto:office@ars.vision">office@ars.vision</a>
                  </div>
                </div>
              </div>
              <div class="contact-block">
                <div class="dl">
                  <div class="dt">
                    Telephone number
                  </div>
                  <div class="dd">
                    +48 794 079 729
                  </div>
                </div>
                <div class="dl">
                  <div class="dt">
                    Address
                  </div>
                  <div class="dd">
                    60-461 Poznań
                  </div>
                  <div class="dd">
                    ul. Teokryta 35
                  </div>
                </div>
              </div>
              <div class="contact-block">
                <div class="dl">
                  <div class="dt">
                    Let’s be friends
                  </div>
                  <ul class="social">
                    <li>
                      <a href="https://twitter.com/ars_vision" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="https://www.facebook.com/Ars-Vision-1094259237291419/" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/company/10525594" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/arsvision/" target="_blank"><i class="fa fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom">
            <div class="copyright">
              © 2016 Ars-Vision
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>

app/tpl/modules/brovary.slim
.case.project.projectPiwo
  .case-heading
    .container
      h1
        | Brovary product
      .desc
        | photography / 2016
  .case-body
    .preview
      img.img-responsive alt="" src="public/proj_piwo/proj_piwo_head.jpg" /
    .section.s-1
      .container
        .row.r-1
          .col-1-3
            h2
              | Blablablaaaa
          .col-1-3
            .text
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut accumsan lacus. Vivamus pharetra eget ipsum ut lobortis. Nam lorem nulla, dictum at turpis in, imperdiet rhoncus velit. Etiam eu tempor mi, eu bibendum quam. Nulla auctor sodales nunc vitae rhoncus.
              .afterText
                span
                  a href="obolon.pl" target="_blank" title="obolon.pl"  obolon.pl
          .col-1-3
            .text
              p
                | Maecenas feugiat sit amet tortor in condimentum. Phasellus viverra metus orci, nec volutpat purus sagittis id. Fusce eget leo velit. Sed et magna nec urna venenatis vehicula. Class aptent taciti sociosqu ad litora torquent per conubia nostra.
    .section.s-2
      .container
        .row
          .col-1-2
            .projectPiwo_imageCover
              img.img-responsive.i-1.wow.fadeInUp alt=("Kaiserdom Dark") data-wow-delay="0s" src="public/proj_piwo/pp_foto_1.jpg" /
              h2
                | Kaiserdom
                br/
                | Dark
          .col-2-2
            .projectPiwo_imageCover
              img.img-responsive.i-2.wow.fadeInUp alt=("Funnel Blower") data-wow-delay="500ms" src="public/proj_piwo/pp_foto_2.jpg" /
              h2
                | Funnel
                br/
                | Blower
        .row
          .col-1-2
            .projectPiwo_imageCover
              img.img-responsive.i-1.wow.fadeInUp alt=("Kaiserdom Dark") data-wow-delay="0s" src="public/proj_piwo/pp_foto_3.jpg" /
              h2
                | Kaiserdom
                br/
                | Dark
          .col-2-2
            .projectPiwo_imageCover
              img.img-responsive.i-2.wow.fadeInUp alt=("Funnel Blower") data-wow-delay="500ms" src="public/proj_piwo/pp_foto_4.jpg" /
              h2
                | Funnel
                br/
                | Blower
        .row
          .col-1-2
            .projectPiwo_imageCover
              img.img-responsive.i-1.wow.fadeInUp alt=("Kaiserdom Dark") data-wow-delay="0s" src="public/proj_piwo/pp_foto_5.jpg" /
              h2
                | Kaiserdom
                br/
                | Dark
          .col-2-2
            .projectPiwo_imageCover
              img.img-responsive.i-2.wow.fadeInUp alt=("Funnel Blower") data-wow-delay="500ms" src="public/proj_piwo/pp_foto_6.jpg" /
              h2
                | Funnel
                br/
                | Blower
        .row
          .col-1-2
            .projectPiwo_imageCover
              img.img-responsive.i-1.wow.fadeInUp alt=("Kaiserdom Dark") data-wow-delay="0s" src="public/proj_piwo/pp_foto_7.jpg" /
              h2
                | Kaiserdom
                br/
                | Dark
          .col-2-2
            .projectPiwo_imageCover
              img.img-responsive.i-2.wow.fadeInUp alt=("Funnel Blower") data-wow-delay="500ms" src="public/proj_piwo/pp_foto_8.jpg" /
              h2
                | Funnel
                br/
                | Blower
  .projects_navi
    .container
      span.projects_navi_item
        a href="/expo2017.html" title=("EXPO Astana 2017")  EXPO Astana 2017
      span.projects_navi_item
        a href="/udh.html" title=("UDH.pl")  UDH.pl
