app/tpl/modules/contact.slim
.case.contact
  .row
    .caption-wrap
      h1 Contact
    .contact-details
      .contact-block
        .dl
          .dt Ars-Vision Sp. z o.o.
          .dd 60-461 Poznań
          .dd ul. Teokryta 35
        .dl
          .dt Telephone number
          .dd +48 794 079 729
      .contact-block
        .dl
          .dd NIP: PL2090003120
          .dd REGON: 302675968
          .dd KRS: 0000495986
          / .dd Bank: City Handlowy
          / .dd Account number: 86 1030 0019 0109 8503 0007 1572
        .dl
          .dt Talk to us
          .dd
            a href='mailto:hello@ars.vision' hello@ars.vision
      .contact-block
        .dl
          .dt Let’s be friends
          ul.social
            li: a target="_blank" href="https://twitter.com/ars_vision": i.fa.fa-twitter
            li: a target="_blank" href="https://www.facebook.com/Ars-Vision-1094259237291419/": i.fa.fa-facebook
            / li: a target="_blank" href="#": i.fa.fa-google-plus
            li: a target="_blank" href="https://www.linkedin.com/company/10525594": i.fa.fa-linkedin
            li: a target="_blank" href="https://www.instagram.com/arsvision/": i.fa.fa-instagram
.case.map
  #google-map

dist/contact.html
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <title>ArsVision</title>
    <link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="css/style.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="js/ie.js"></script>
    <![endif]--><script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
    <script src="js/map.js"></script>
  </head>
  <body>
    <div class="page">
      <header class="page-header inner">
        <div class="container">
          <a class="logo" href="index.html"></a>
          <div class="panel">
            <ul class="contact-details">
              <li>
                hello@ars.vision
              </li>
              <li>
                +48 794 079 729
              </li>
            </ul>
            <button class="nav-toggle" type="button"></button>
          </div>
        </div>
      </header>
      <div class="sidebar">
        <div class="sidebar-content flex-container">
          <button class="nav-close" type="button"></button>
          <div class="flex-block">
            <a class="logo" href="index.html"></a>
          </div>
          <div class="flex-block">
            <ul class="sidebar-nav">
              <li>
                <a href="work.html">Work</a>
              </li>
              <li>
                <a href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
          <div class="flex-block">
            <div class="contact-details">
              <div class="dl">
                <div class="dt">
                  Talk to us
                </div>
                <div class="dd">
                  hello@ars.vision
                </div>
              </div>
              <div class="dl">
                <div class="dt">
                  Telephone number
                </div>
                <div class="dd">
                  +48 794 079 729
                </div>
              </div>
              <div class="dl">
                <div class="dt">
                  Address
                </div>
                <div class="dd">
                  60-461 Poznań
                </div>
                <div class="dd">
                  ul. Teokryta 35
                </div>
              </div>
              <ul class="social">
                <li>
                  <a href="https://twitter.com/ars_vision" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="https://www.facebook.com/Ars-Vision-1094259237291419/" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/company/10525594" target="_blank"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/arsvision/" target="_blank"><i class="fa fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="page-body">
        <div class="case contact">
          <div class="row">
            <div class="caption-wrap">
              <h1>
                Contact
              </h1>
            </div>
            <div class="contact-details">
              <div class="contact-block">
                <div class="dl">
                  <div class="dt">
                    Ars-Vision Sp. z o.o.
                  </div>
                  <div class="dd">
                    60-461 Poznań
                  </div>
                  <div class="dd">
                    ul. Teokryta 35
                  </div>
                </div>
                <div class="dl">
                  <div class="dt">
                    Telephone number
                  </div>
                  <div class="dd">
                    +48 794 079 729
                  </div>
                </div>
              </div>
              <div class="contact-block">
                <div class="dl">
                  <div class="dd">
                    NIP: PL2090003120
                  </div>
                  <div class="dd">
                    REGON: 302675968
                  </div>
                  <div class="dd">
                    KRS: 0000495986
                  </div>
                </div>
                <div class="dl">
                  <div class="dt">
                    Talk to us
                  </div>
                  <div class="dd">
                    <a href="mailto:hello@ars.vision">hello@ars.vision</a>
                  </div>
                </div>
              </div>
              <div class="contact-block">
                <div class="dl">
                  <div class="dt">
                    Let’s be friends
                  </div>
                  <ul class="social">
                    <li>
                      <a href="https://twitter.com/ars_vision" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="https://www.facebook.com/Ars-Vision-1094259237291419/" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/company/10525594" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/arsvision/" target="_blank"><i class="fa fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="case map">
          <div id="google-map"></div>
        </div>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
