app/tpl/modules/cuba.slim
.case.project.projectCuba
  .case-heading
    .container
      h1
        | Adwokat Staszczyk
      .desc
        | website / 2016
  .case-body
    .preview
      img.img-responsive alt="" src="public/proj_cuba_head.jpg" /
    .section.s-1
      .container
        .row.r-1
          .col-1-3
            h2
              | Identyfikacja
              br>/
              | wizualna
          .col-1-3
            .text
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut accumsan lacus. Vivamus pharetra eget ipsum ut lobortis. Nam lorem nulla, dictum at turpis in, imperdiet rhoncus velit. Etiam eu tempor mi, eu bibendum quam. Nulla auctor sodales nunc vitae rhoncus.
              .afterText
                span
                  a href="obolon.pl" target="_blank" title="obolon.pl"  obolon.pl
          .col-1-3
            .text
              p
                | Maecenas feugiat sit amet tortor in condimentum. Phasellus viverra metus orci, nec volutpat purus sagittis id. Fusce eget leo velit. Sed et magna nec urna venenatis vehicula. Class aptent taciti sociosqu ad litora torquent per conubia nostra.
        .row.r-2
          .logoCover
            img.img-responsive.i-1.wow.fadeInUp alt=("Adwokat Staszczyk") data-wow-delay="0s" src="public/proj_cuba/pc_logo_1.png" /
            img.img-responsive.i-2.wow.fadeInUp alt=("Adwokat Staszczyk") data-wow-delay="1s" src="public/proj_cuba/pc_logo_2.png" /
            img.img-responsive.i-3.wow.fadeInUp alt=("Adwokat Staszczyk") data-wow-delay="2s" src="public/proj_cuba/pc_logo_3.png" /
    .section.s-2
      .container
        .row.r-1
          .col-1-3
            img.img-responsive.i-1.wow.fadeInLeft alt=("Adwokat Staszczyk") data-wow-delay="0s" src="public/proj_cuba/pc_r2_left.jpg" /
          .col-2-3
            img.img-responsive.i-2.wow.fadeInRight alt=("Adwokat Staszczyk") data-wow-delay="1s" src="public/proj_cuba/pc_r2_right.jpg" /
        .row.r-2
          .col-1-3  
          .col-2-3
            img.img-responsive.i-1.wow.fadeIn alt=("Adwokat Staszczyk") data-wow-delay="0s" src="public/proj_cuba/pc_r3_small1.jpg" /
            img.img-responsive.wow.fadeIn alt=("Adwokat Staszczyk") data-wow-delay="500ms" src="public/proj_cuba/pc_r3_small2.jpg" /
        .row.r-3
          .col-1-3
            h2
              | Strona www
            .text
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut accumsan lacus. Vivamus pharetra eget ipsum ut lobortis. Nam lorem nulla, dictum at turpis in, imperdiet rhoncus velit. Etiam eu tempor mi, eu bibendum quam. Nulla auctor sodales nunc vitae rhoncus.
          .col-2-3
            img.img-responsive.i-1.wow.fadeIn alt=("Adwokat Staszczyk") data-wow-delay="0s" src="public/proj_cuba/pc_scrren_1.jpg" /
    .section.s-3
      .container
        .slides
          img.i-2.wow.fadeIn alt=("Adwokat Staszczyk") data-wow-delay="0s" src="public/proj_cuba/pc_scrren_2.jpg" /
          img.i-3.wow.fadeIn alt=("Adwokat Staszczyk") data-wow-delay="500ms" src="public/proj_cuba/pc_scrren_3.jpg" /
          img.i-4.wow.fadeIn alt=("Adwokat Staszczyk") data-wow-delay="800ms" src="public/proj_cuba/pc_scrren_4.jpg" /
          img.i-5.wow.fadeIn alt=("Adwokat Staszczyk") data-wow-delay="1100ms" src="public/proj_cuba/pc_scrren_5.jpg" /
          img.i-7.wow.fadeIn alt=("Adwokat Staszczyk") data-wow-delay="1500ms" src="public/proj_cuba/pc_scrren_7.jpg" /
          img.i-8.wow.fadeIn alt=("Adwokat Staszczyk") data-wow-delay="1800ms" src="public/proj_cuba/pc_scrren_8.jpg" /
          img.i-6.wow.fadeIn alt=("Adwokat Staszczyk") data-wow-delay="1400ms" src="public/proj_cuba/pc_scrren_6.jpg" /
    .section.s-4
      .container
        .row.r-1
          .col-1-3
            h2
              | Sesja zdjęciowa
            .text
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut accumsan lacus. Vivamus pharetra eget ipsum ut lobortis. Nam lorem nulla, dictum at turpis in, imperdiet rhoncus velit. Etiam eu tempor mi, eu bibendum quam. Nulla auctor sodales nunc vitae rhoncus.
          .col-2-3
            img.img-responsive.i-2.wow.fadeIn alt=("Adwokat Staszczyk") data-wow-delay="0s" src="public/proj_cuba/pc_foto_2.jpg" /
        .slides
          img.i-1.wow.fadeIn alt=("Adwokat Staszczyk") data-wow-delay="500ms" src="public/proj_cuba/pc_foto_1.jpg" /
          img.i-3.wow.fadeIn alt=("Adwokat Staszczyk") data-wow-delay="500ms" src="public/proj_cuba/pc_foto_3.jpg" /
          img.i-4.wow.fadeIn alt=("Adwokat Staszczyk") data-wow-delay="500ms" src="public/proj_cuba/pc_foto_4.jpg" /
          img.i-5.wow.fadeIn alt=("Adwokat Staszczyk") data-wow-delay="500ms" src="public/proj_cuba/pc_foto_5.jpg" /
  .projects_navi
    .container
      span.projects_navi_item
        a href="/udh.html" title=("UDH.pl")  UDH.pl
      span.projects_navi_item
        a href="/food.html" title=("Food photography")  Food photograph

dist/cuba.html
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <title>Work - Jakub Staszczyk, Attorney at Law</title>
    <link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="css/style.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="js/ie.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="page">
      <header class="page-header inner">
        <div class="container">
          <a class="logo" href="index.html"></a>
          <div class="panel">
            <ul class="contact-details">
              <li>
                hello@ars.vision
              </li>
              <li>
                +48 794 079 729
              </li>
            </ul>
            <button class="nav-toggle" type="button"></button>
          </div>
        </div>
      </header>
      <div class="sidebar">
        <div class="sidebar-content flex-container">
          <button class="nav-close" type="button"></button>
          <div class="flex-block">
            <a class="logo" href="index.html"></a>
          </div>
          <div class="flex-block">
            <ul class="sidebar-nav">
              <li>
                <a href="work.html">Work</a>
              </li>
              <li>
                <a href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
          <div class="flex-block">
            <div class="contact-details">
              <div class="dl">
                <div class="dt">
                  Talk to us
                </div>
                <div class="dd">
                  hello@ars.vision
                </div>
              </div>
              <div class="dl">
                <div class="dt">
                  Telephone number
                </div>
                <div class="dd">
                  +48 794 079 729
                </div>
              </div>
              <div class="dl">
                <div class="dt">
                  Address
                </div>
                <div class="dd">
                  60-461 Poznań
                </div>
                <div class="dd">
                  ul. Teokryta 35
                </div>
              </div>
              <ul class="social">
                <li>
                  <a href="https://twitter.com/ars_vision" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="https://www.facebook.com/Ars-Vision-1094259237291419/" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/company/10525594" target="_blank"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/arsvision/" target="_blank"><i class="fa fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="page-body">
        <div class="case project projectCuba">
          <div class="case-heading">
            <div class="container">
              <h1>
                Jakub Staszczyk, Attorney at Law
              </h1>
              <div class="desc">
                website / 2016
              </div>
            </div>
          </div>
          <div class="case-body">
            <div class="preview">
              <img alt="" class="img-responsive" src="public/proj_cuba_head.jpg" />
            </div>
            <div class="section s-1">
              <div class="container">
                <div class="row r-1">
                  <div class="col-1-3">
                    <h2>
                     Idea
                    </h2>
                  </div>
                  <div class="col-1-3">
                    <div class="text">
                      <p>
                        The firm was established in 2005. Values that set the Firm apart are an individual approach to each Client and a high level of mutual trust.
These premises allow the Firm to avoid standardized solutions and to design, together with Clients, optimal strategies to each situation.
Ars Vision’s task was to accentuate individual characteristics that let the Firm stand out.
                      </p>
                      <div class="afterText">
                        <span><a href="http://www.adwokat-staszczyk.pl" target="_blank" title="adwokat-staszczyk.pl">adwokat-staszczyk.pl</a></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-1-3">
                    <div class="text">
                      <p>
                        This entailed a creation of a corporate style both unique among the competition and simultaneously adherent to the rigors and tradition of law practice.
Particular attention was directed at a selection of color pallets.
The website was meant to be an interactive business card of the Firm and, in fact, its virtual office.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row r-2">
                  <div class="logoCover">
                    <img alt="Adwokat Staszczyk" class="img-responsive i-1 wow fadeInUp" data-wow-delay="0s" src="public/proj_cuba/pc_logo_1.png" /><img alt="Adwokat Staszczyk" class="img-responsive i-2 wow fadeInUp" data-wow-delay="1s" src="public/proj_cuba/pc_logo_2.png" /><img alt="Adwokat Staszczyk" class="img-responsive i-3 wow fadeInUp" data-wow-delay="2s" src="public/proj_cuba/pc_logo_3.png" />
                  </div>
                </div>
              </div>
            </div>
            <div class="section s-2">
              <div class="container">
                <div class="row r-1">
                  <div class="col-1-3">
                    <img alt="Adwokat Staszczyk" class="img-responsive i-1 wow fadeInLeft" data-wow-delay="0s" src="public/proj_cuba/pc_r2_left.jpg" />
                  </div>
                  <div class="col-2-3">
                    <img alt="Adwokat Staszczyk" class="img-responsive i-2 wow fadeInRight" data-wow-delay="1s" src="public/proj_cuba/pc_r2_right.jpg" />
                  </div>
                </div>
                <div class="row r-2">
                  <div class="col-1-3">
                     
                  </div>
                  <div class="col-2-3">
                    <img alt="Adwokat Staszczyk" class="img-responsive i-1 wow fadeIn" data-wow-delay="0s" src="public/proj_cuba/pc_r3_small1.jpg" /><img alt="Adwokat Staszczyk" class="img-responsive wow fadeIn" data-wow-delay="500ms" src="public/proj_cuba/pc_r3_small2.jpg" />
                  </div>
                </div>
                <div class="row r-3">
                  <div class="col-1-3">
                    <h2>
                      WWW
                    </h2>
                    <div class="text">
                      <p>
                        We attempted to connect visual esthetics and ease of navigation, bringing together a classical menu structure and animated effects.
                      </p>
                    </div>
                  </div>
                  <div class="col-2-3">
                    <img alt="Adwokat Staszczyk" class="img-responsive i-1 wow fadeIn" data-wow-delay="0s" src="public/proj_cuba/pc_scrren_1.jpg" />
                  </div>
                </div>
              </div>
            </div>
            <div class="section s-3">
              <div class="container">
                <div class="slides">
                  <img alt="Adwokat Staszczyk" class="i-2 wow fadeIn" data-wow-delay="0s" src="public/proj_cuba/pc_scrren_2.jpg" /><img alt="Adwokat Staszczyk" class="i-3 wow fadeIn" data-wow-delay="500ms" src="public/proj_cuba/pc_scrren_3.jpg" /><img alt="Adwokat Staszczyk" class="i-4 wow fadeIn" data-wow-delay="800ms" src="public/proj_cuba/pc_scrren_4.jpg" /><img alt="Adwokat Staszczyk" class="i-5 wow fadeIn" data-wow-delay="1100ms" src="public/proj_cuba/pc_scrren_5.jpg" /><img alt="Adwokat Staszczyk" class="i-7 wow fadeIn" data-wow-delay="1500ms" src="public/proj_cuba/pc_scrren_7.jpg" /><img alt="Adwokat Staszczyk" class="i-8 wow fadeIn" data-wow-delay="1800ms" src="public/proj_cuba/pc_scrren_8.jpg" /><img alt="Adwokat Staszczyk" class="i-6 wow fadeIn" data-wow-delay="1400ms" src="public/proj_cuba/pc_scrren_6.jpg" />
                </div>
              </div>
            </div>
            <div class="section s-4">
              <div class="container">
                <div class="row r-1">
                  <div class="col-1-3">
                    <h2>
                      Photo session
                    </h2>
                    <div class="text">
                      <p>
                        Guided by the Firm’s traditions - in particular its individual approach - the Ars Vision team bypassed any stocked material for content creation, and opted instead for a professional photo shoot, in order to reflect a real process of work at a law practice.
                      </p>
                    </div>
                  </div>
                  <div class="col-2-3">
                    <img alt="Adwokat Staszczyk" class="img-responsive i-2 wow fadeIn" data-wow-delay="0s" src="public/proj_cuba/pc_foto_2.jpg" />
                  </div>
                </div>
                <div class="slides">
                  <img alt="Adwokat Staszczyk" class="i-1 wow fadeIn" data-wow-delay="500ms" src="public/proj_cuba/pc_foto_1.jpg" /><img alt="Adwokat Staszczyk" class="i-3 wow fadeIn" data-wow-delay="500ms" src="public/proj_cuba/pc_foto_3.jpg" /><img alt="Adwokat Staszczyk" class="i-4 wow fadeIn" data-wow-delay="500ms" src="public/proj_cuba/pc_foto_4.jpg" /><img alt="Adwokat Staszczyk" class="i-5 wow fadeIn" data-wow-delay="500ms" src="public/proj_cuba/pc_foto_5.jpg" />
                </div>
              </div>
            </div>
          </div>
          <div class="projects_navi">
            <div class="container">
              <span class="projects_navi_item"><a href="/udh.html" title="An exclusive distributor of AB InBev in Poland">AB InBev distributor</a></span><span class="projects_navi_item"><a href="/food.html" title="Food photography"> Food photography</a></span>
            </div>
          </div>
        </div>
      </div>
      <footer class="page-footer">
        <div class="wrap">
          <div class="row">
            <div class="logo-wrap">
              <a class="logo" href="#"></a>
            </div>
            <div class="contact-details">
              <div class="contact-block">
                <div class="dl">
                  <div class="dt">
                    Talk to us
                  </div>
                  <div class="dd">
                    <a href="mailto:hello@ars.vision">hello@ars.vision</a>
                  </div>
                </div>
                <div class="dl">
                  <div class="dt">
                    Office
                  </div>
                  <div class="dd">
                    <a href="mailto:office@ars.vision">office@ars.vision</a>
                  </div>
                </div>
              </div>
              <div class="contact-block">
                <div class="dl">
                  <div class="dt">
                    Telephone number
                  </div>
                  <div class="dd">
                    +48 794 079 729
                  </div>
                </div>
                <div class="dl">
                  <div class="dt">
                    Address
                  </div>
                  <div class="dd">
                    60-461 Poznań
                  </div>
                  <div class="dd">
                    ul. Teokryta 35
                  </div>
                </div>
              </div>
              <div class="contact-block">
                <div class="dl">
                  <div class="dt">
                    Let’s be friends
                  </div>
                  <ul class="social">
                    <li>
                      <a href="https://twitter.com/ars_vision" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="https://www.facebook.com/Ars-Vision-1094259237291419/" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/company/10525594" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/arsvision/" target="_blank"><i class="fa fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom">
            <div class="copyright">
              © 2016 Ars-Vision
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
