dist/expo2017.html
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <title>ArsVision - website EXPO 2017</title>
    <link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="css/style.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="js/ie.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="page">
      <header class="page-header inner">
        <div class="container">
          <a class="logo" href="index.html"></a>
          <div class="panel">
            <ul class="contact-details">
              <li>
                hello@ars.vision
              </li>
              <li>
                +48 794 079 729
              </li>
            </ul>
            <button class="nav-toggle" type="button"></button>
          </div>
        </div>
      </header>
      <div class="sidebar">
        <div class="sidebar-content flex-container">
          <button class="nav-close" type="button"></button>
          <div class="flex-block">
            <a class="logo" href="index.html"></a>
          </div>
          <div class="flex-block">
            <ul class="sidebar-nav">
              <li>
                <a href="work.html">Work</a>
              </li>
              <li>
                <a href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
          <div class="flex-block">
            <div class="contact-details">
              <div class="dl">
                <div class="dt">
                  Talk to us
                </div>
                <div class="dd">
                  hello@ars.vision
                </div>
              </div>
              <div class="dl">
                <div class="dt">
                  Telephone number
                </div>
                <div class="dd">
                  +48 794 079 729
                </div>
              </div>
              <div class="dl">
                <div class="dt">
                  Address
                </div>
                <div class="dd">
                  60-461 Poznań
                </div>
                <div class="dd">
                  ul. Teokryta 35
                </div>
              </div>
              <ul class="social">
                <li>
                  <a href="https://twitter.com/ars_vision" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="https://www.facebook.com/Ars-Vision-1094259237291419/" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/company/10525594" target="_blank"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/arsvision/" target="_blank"><i class="fa fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="page-body">
        <div class="case project2">
          <div class="case-heading">
            <div class="container">
              <h1>
                EXPO 2017
              </h1>
              <div class="desc">
                website / 2013
              </div>
            </div>
          </div>
          <div class="case-body">
            <div class="preview">
              <img alt="" class="img-responsive" src="public/proj_preview2.jpg" />
            </div>
            <div class="section s-1">
              <div class="container">
                <div class="row r-1">
                  <div class="col-1-2">
                    <div class="text">
                      <p>
                        In November 2012, Astana was chosen as the venue to host EXPO 2017, which will focus on «Future Energy». This theme is aimed to concentrate on both the future of natural energy and on innovative practical energy solutions, as well as their global impact.
                      </p>
                      <p>
                        EXPO 2017 will be the first major international exhibition of this magnitude in a country from the former Soviet Union. More than 100 countries and 10 international organizations are expected to participate. Around 3 million people are projected to visit the international pavilions from June to September 2017.
                      </p>
                      <p>
                        What should a website that represents EXPO 2017, one of the greatest events in the world, look like?
                      </p>
                      <p>
                        The Ars-Vision team has the answer. <br>
						We were responsible for the design and development of the EXPO 2017 website and logo.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <img alt="" class="tablet" src="img/tablet.png" /><img alt="" class="phone" src="img/phone.png" />
            </div>
            <div class="section s-2">
              <div class="container">
                <div class="figure text-center">
                  <img alt="" class="img-responsive wow fadeInUp" data-wow-delay="0s" src="public/proj_s_01.jpg" />
                </div>
              </div>
            </div>
            <div class="section s-3">
              <div class="container text-center">
                <div class="slides">
                  <img alt="" class="img-responsive i-1 wow fadeIn" data-wow-delay="0s" src="img/ipad.png" /><img alt="" class="img-abs i-2 wow fadeInRight" data-wow-delay=".2s" src="img/msg_1.png" /><img alt="" class="img-abs i-3 wow fadeInLeft" data-wow-delay=".4s" src="img/msg_2.png" />
                </div>
              </div>
            </div>
            <div class="section s-4">
              <div class="container">
                <div class="captured">
                  <h2>
                    latest posts
                  </h2>
                  <div class="desc">
                    a list split into 3 separate columns
                  </div>
                </div>
                <div class="figure text-center">
                  <img alt="" class="img-responsive wow fadeInUp" data-wow-delay="0s" src="public/proj_s_02.jpg" />
                </div>
                <div class="captured">
                  <h2>
                    latest posts
                  </h2>
                  <div class="desc">
                    a grid view of the latest posts
                  </div>
                </div>
                <div class="figure text-center">
                  <img alt="" class="img-responsive wow fadeInUp" data-wow-delay="0s" src="public/proj_s_03.jpg" />
                </div>
              </div>
            </div>
            <div class="section s-5">
              <div class="container">
                <div class="captured">
                  <h2>
                    post view
                  </h2>
                  <div class="desc">
                    posts are shown in a layered element
                  </div>
                </div>
                <div class="figure text-center">
                  <img alt="" class="img-responsive wow fadeInUp" data-wow-delay="0s" src="public/proj_s_04.jpg" />
                </div>
                <div class="figure text-center">
                  <img alt="" class="img-responsive wow fadeInUp" data-wow-delay="0s" src="public/proj_s_05.jpg" />
                </div>
              </div>
            </div>
            <div class="section s-6">
              <div class="container">
                <div class="captured">
                  <h2>
                    gallery
                  </h2>
                  <div class="desc">
                    gallery showcasing visual content in a grid view
                  </div>
                </div>
                <div class="figure text-center">
                  <img alt="" class="img-responsive wow fadeInUp" data-wow-delay="0s" src="public/proj_s_06.jpg" />
                </div>
              </div>
            </div>
            <div class="section s-7">
              <div class="container">
                <div class="captured">
                  <h2>
                    calendar
                  </h2>
                  <div class="desc">
                    calandar uses independent scrolling columns to showcase each day’s news and events
                  </div>
                </div>
                <div class="figure text-center">
                  <img alt="" class="img-responsive wow fadeInUp" data-wow-delay="0s" src="public/proj_s_07.jpg" />
                </div>
              </div>
            </div>
            <div class="section s-8">
              <div class="container">
                <div class="figure text-center">
                  <img alt="" class="img-responsive wow fadeIn" data-wow-delay=".2s" src="img/phones.png" />
                </div>
              </div>
            </div>
          </div>
          <div class="projects_navi">
            <div class="container">
              <span class="projects_navi_item"><a href="/obolon.html" title="Obolon Brewery Commercial"> TV Commercial</a></span><span class="projects_navi_item"><a href="/brovary.html" title="Brewery Brand Photography"> Brewery Photography</a></span>
            </div>
          </div>
        </div>
      </div>
      <footer class="page-footer">
        <div class="wrap">
          <div class="row">
            <div class="logo-wrap">
              <a class="logo" href="#"></a>
            </div>
            <div class="contact-details">
              <div class="contact-block">
                <div class="dl">
                  <div class="dt">
                    Talk to us
                  </div>
                  <div class="dd">
                    <a href="mailto:hello@ars.vision">hello@ars.vision</a>
                  </div>
                </div>
                <div class="dl">
                  <div class="dt">
                    Office
                  </div>
                  <div class="dd">
                    <a href="mailto:office@ars.vision">office@ars.vision</a>
                  </div>
                </div>
              </div>
              <div class="contact-block">
                <div class="dl">
                  <div class="dt">
                    Telephone number
                  </div>
                  <div class="dd">
                    +48 794 079 729
                  </div>
                </div>
                <div class="dl">
                  <div class="dt">
                    Address
                  </div>
                  <div class="dd">
                    60-461 Poznań
                  </div>
                  <div class="dd">
                    ul. Teokryta 35
                  </div>
                </div>
              </div>
              <div class="contact-block">
                <div class="dl">
                  <div class="dt">
                    Let’s be friends
                  </div>
                  <ul class="social">
                    <li>
                      <a href="https://twitter.com/ars_vision" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="https://www.facebook.com/Ars-Vision-1094259237291419/" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/company/10525594" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/arsvision/" target="_blank"><i class="fa fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom">
            <div class="copyright">
              © 2016 Ars-Vision
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>

app/tpl/modules/expo2017.slim
.case.project2
  .case-heading
    .container
      h1 EXPO 2017
      .desc website / 2013
  .case-body
    .preview
      img.img-responsive src="public/proj_preview2.jpg" alt=""
    .section.s-1
      .container
        .row.r-1
          .col-1-2
            .text
              p On November 22, 2012 Astana was chosen as the venue to host EXPO-2017, which will focus on the theme «Future Energy». The theme is aimed to concentrate on both the future of energy, but also on innovative, but practical energy solutions, and their global impact.
              p EXPO-2017 will be the first time that a major international exhibition of this kind is coming to a country from the former Soviet Union. More than 100 countries and 10 international organizations are expected to participate. Around 3 million people are expected to visit the international pavilions from June to September 2017.
              p What should a website that represents EXPO 2017, one of the greatest events in the world, look like?
              p Ars-Vision team has the answer to this question. They were responsible for design and development of EXPO 2017 website and logo.
      img.tablet src="img/tablet.png" alt=""
      img.phone src="img/phone.png" alt=""
    .section.s-2
      .container
        .figure.text-center
          img.img-responsive.wow.fadeInUp data-wow-delay="0s" src="public/proj_s_01.jpg" alt=""
    .section.s-3
      .container.text-center
        .slides
          img.img-responsive.i-1.wow.fadeIn data-wow-delay="0s" src="img/ipad.png" alt=""
          img.img-abs.i-2.wow.fadeInRight data-wow-delay=".2s" src="img/msg_1.png" alt=""
          img.img-abs.i-3.wow.fadeInLeft data-wow-delay=".4s" src="img/msg_2.png" alt=""
    .section.s-4
      .container
        .captured
          h2 latest posts
          .desc a list split into 3 separate columns
        .figure.text-center
          img.img-responsive.wow.fadeInUp data-wow-delay="0s" src="public/proj_s_02.jpg" alt=""
        .captured
          h2 latest posts
          .desc a grid view of the latest posts
        .figure.text-center
          img.img-responsive.wow.fadeInUp data-wow-delay="0s" src="public/proj_s_03.jpg" alt=""
    .section.s-5
      .container
        .captured
          h2 post view
          .desc posts are shown in a layered element
        .figure.text-center
          img.img-responsive.wow.fadeInUp data-wow-delay="0s" src="public/proj_s_04.jpg" alt=""
        .figure.text-center
          img.img-responsive.wow.fadeInUp data-wow-delay="0s" src="public/proj_s_05.jpg" alt=""
    .section.s-6
      .container
        .captured
          h2 gallery
          .desc gallery showcasing visual content in a grid view
        .figure.text-center
          img.img-responsive.wow.fadeInUp data-wow-delay="0s" src="public/proj_s_06.jpg" alt=""
    .section.s-7
      .container
        .captured
          h2 calendar
          .desc calandar uses independent scrolling columns to showcase each day’s news and events
        .figure.text-center
          img.img-responsive.wow.fadeInUp data-wow-delay="0s" src="public/proj_s_07.jpg" alt=""
    .section.s-8
      .container
        .figure.text-center
          img.img-responsive.wow.fadeIn data-wow-delay=".2s" src="img/phones.png" alt=""
  .projects_navi
    .container
      span.projects_navi_item
        a href="/obolon.html" title=("Obolon Brewery Commercial")  Obolon Brewery Commercial
      span.projects_navi_item
        a href="/brovary.html" title=("Brovary product")  Brovary product
