dist/food.html
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <title>AV Digital Agency - Food photography</title>
    <link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="css/style.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="js/ie.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="page">
      <header class="page-header inner">
        <div class="container">
          <a class="logo" href="index.html"></a>
          <div class="panel">
            <ul class="contact-details">
              <li>
                hello@ars.vision
              </li>
              <li>
                +48 794 079 729
              </li>
            </ul>
            <button class="nav-toggle" type="button"></button>
          </div>
        </div>
      </header>
      <div class="sidebar">
        <div class="sidebar-content flex-container">
          <button class="nav-close" type="button"></button>
          <div class="flex-block">
            <a class="logo" href="index.html"></a>
          </div>
          <div class="flex-block">
            <ul class="sidebar-nav">
              <li>
                <a href="work.html">Work</a>
              </li>
              <li>
                <a href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
          <div class="flex-block">
            <div class="contact-details">
              <div class="dl">
                <div class="dt">
                  Talk to us
                </div>
                <div class="dd">
                  hello@ars.vision
                </div>
              </div>
              <div class="dl">
                <div class="dt">
                  Telephone number
                </div>
                <div class="dd">
                  +48 794 079 729
                </div>
              </div>
              <div class="dl">
                <div class="dt">
                  Address
                </div>
                <div class="dd">
                  60-461 Poznań
                </div>
                <div class="dd">
                  ul. Teokryta 35
                </div>
              </div>
              <ul class="social">
                <li>
                  <a href="https://twitter.com/ars_vision" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="https://www.facebook.com/Ars-Vision-1094259237291419/" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/company/10525594" target="_blank"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/arsvision/" target="_blank"><i class="fa fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="page-body">
        <div class="case project projectRest">
          <div class="case-heading">
            <div class="container">
              <h1>
                Food photography
              </h1>
              <div class="desc">
                photography / 2016
              </div>
            </div>
          </div>
          <div class="case-body">
            <div class="preview">
              <img alt="" class="img-responsive" src="public/proj_restauracja/proj_rest_head.jpg" />
            </div>
            <div class="section s-1">
              <div class="container">
                <div class="row r-1">
                  <div class="col-1-3">
                    <h2>
                      
                    </h2>
                  </div>
                  <div class="col-1-3">
                    <div class="text">
                      <p>
                        It is with great pride that we present the works of our ‘permanent resident’ at ArsVision, Misha Rudniev. 
					</p>
					<p>	
						Our ‘wonderboy’ from Kharkiv, Misha is responsible for anything our team has to do with photography. He is a true-born perfectionist. 
                      </p>
					  <p>
                       Through the art of photography, he reclaims the world’s harmony. Pictures are his way of communication, particularly with creative, artistic people.
                      </p>
                    </div>
                  </div>
                  <div class="col-1-3">
                    <div class="text">
                      <p>
						Misha is enamoured with the idea of “hunting” for all things beautiful with his camera, but the Food Photography is his decisive strong suit. 
					</p>
                      <p>
                       If your child is not a keen eater or has no appetite, you need no doctors - showing this case study will be enough :)
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row r-2">
                  <img alt="Farsch" class="img-responsive i-1 wow fadeInUp" data-wow-delay="0s" src="public/proj_restauracja/proj_rest_foto_1.jpg" /><img alt="Farsch" class="img-responsive i-2 wow fadeInUp" data-wow-delay="300ms" src="public/proj_restauracja/proj_rest_foto_2.jpg" /><img alt="Farsch" class="img-responsive i-3 wow fadeInUp" data-wow-delay="300ms" src="public/proj_restauracja/proj_rest_foto_3.jpg" />
                </div>
                <div class="row r-3">
                  <div class="col-1-3">
                    <img alt="Farsch" class="img-responsive i-4 wow fadeInUp" data-wow-delay="0s" src="public/proj_restauracja/proj_rest_foto_4.jpg" />
                  </div>
                  <div class="col-1-3">
                    <img alt="Farsch" class="img-responsive i-5 wow fadeInUp" data-wow-delay="0s" src="public/proj_restauracja/proj_rest_foto_5.jpg" />
                  </div>
                  <div class="col-1-3">
                    <img alt="Farsch" class="img-responsive i-6 wow fadeInUp" data-wow-delay="0s" src="public/proj_restauracja/proj_rest_foto_6.jpg" />
                  </div>
                </div>
                <img alt="Farsch" class="img-responsive i-0 wow fadeInRight" data-wow-delay="0s" src="public/proj_restauracja/proj_rest_pan.png" />
              </div>
            </div>
            <div class="section s-2">
              <div class="container">
                <div class="row">
                  <img alt="Farsch" class="img-responsive i-7 wow fadeInUp" data-wow-delay="1200ms" src="public/proj_restauracja/proj_rest_foto_7.jpg" /><img alt="Farsch" class="img-responsive i-8 wow fadeInUp" data-wow-delay="0s" src="public/proj_restauracja/proj_rest_foto_8.jpg" /><img alt="Farsch" class="img-responsive i-12 wow fadeInUp" data-wow-delay="500ms" src="public/proj_restauracja/proj_rest_foto_12.jpg" /><img alt="Farsch" class="img-responsive i-9 wow fadeInRight" data-wow-delay="0s" src="public/proj_restauracja/proj_rest_foto_9.jpg" /><img alt="Farsch" class="img-responsive i-10 wow fadeInRight" data-wow-delay="0s" src="public/proj_restauracja/proj_rest_foto_10.jpg" /><img alt="Farsch" class="img-responsive i-11 wow fadeInLeft" data-wow-delay="0s" src="public/proj_restauracja/proj_rest_foto_11.jpg" />
                </div>
              </div>
            </div>
          </div>
          <div class="projects_navi">
            <div class="container">
              <span class="projects_navi_item"><a href="/cuba.html" title="Jakub Staszczyk, Attorney at Law"> Attorney Website</a></span><span class="projects_navi_item"><a href="/obolon.html" title="Obolon Brewery Commercial"> TV Commercial</a></span>
            </div>
          </div>
        </div>
      </div>
      <footer class="page-footer">
        <div class="wrap">
          <div class="row">
            <div class="logo-wrap">
              <a class="logo" href="#"></a>
            </div>
            <div class="contact-details">
              <div class="contact-block">
                <div class="dl">
                  <div class="dt">
                    Talk to us
                  </div>
                  <div class="dd">
                    <a href="mailto:hello@ars.vision">hello@ars.vision</a>
                  </div>
                </div>
                <div class="dl">
                  <div class="dt">
                    Office
                  </div>
                  <div class="dd">
                    <a href="mailto:office@ars.vision">office@ars.vision</a>
                  </div>
                </div>
              </div>
              <div class="contact-block">
                <div class="dl">
                  <div class="dt">
                    Telephone number
                  </div>
                  <div class="dd">
                    +48 794 079 729
                  </div>
                </div>
                <div class="dl">
                  <div class="dt">
                    Address
                  </div>
                  <div class="dd">
                    60-461 Poznań
                  </div>
                  <div class="dd">
                    ul. Teokryta 35
                  </div>
                </div>
              </div>
              <div class="contact-block">
                <div class="dl">
                  <div class="dt">
                    Let’s be friends
                  </div>
                  <ul class="social">
                    <li>
                      <a href="https://twitter.com/ars_vision" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="https://www.facebook.com/Ars-Vision-1094259237291419/" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/company/10525594" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/arsvision/" target="_blank"><i class="fa fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom">
            <div class="copyright">
              © 2016 Ars-Vision
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>

app/tpl/modules/food.slim
.case.project.projectRest
  .case-heading
    .container
      h1
        | Boś tam coś tam
      .desc
        | photography / 2016
  .case-body
    .preview
      img.img-responsive alt="" src="public/proj_restauracja/proj_rest_head.jpg" /
    .section.s-1
      .container
        .row.r-1
          .col-1-3
            h2
              | Blablablaaaa
          .col-1-3
            .text
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut accumsan lacus. Vivamus pharetra eget ipsum ut lobortis. Nam lorem nulla, dictum at turpis in, imperdiet rhoncus velit. Etiam eu tempor mi, eu bibendum quam. Nulla auctor sodales nunc vitae rhoncus.
              .afterText
                span
                  a href="obolon.pl" target="_blank" title="obolon.pl"  obolon.pl
          .col-1-3
            .text
              p
                | Maecenas feugiat sit amet tortor in condimentum. Phasellus viverra metus orci, nec volutpat purus sagittis id. Fusce eget leo velit. Sed et magna nec urna venenatis vehicula. Class aptent taciti sociosqu ad litora torquent per conubia nostra.
        .row.r-2
          img.img-responsive.i-1.wow.fadeInUp alt="Farsch" data-wow-delay="0s" src="public/proj_restauracja/proj_rest_foto_1.jpg" /
          img.img-responsive.i-2.wow.fadeInUp alt="Farsch" data-wow-delay="300ms" src="public/proj_restauracja/proj_rest_foto_2.jpg" /
          img.img-responsive.i-3.wow.fadeInUp alt="Farsch" data-wow-delay="300ms" src="public/proj_restauracja/proj_rest_foto_3.jpg" /
        .row.r-3
          .col-1-3
            img.img-responsive.i-4.wow.fadeInUp alt="Farsch" data-wow-delay="0s" src="public/proj_restauracja/proj_rest_foto_4.jpg" /
          .col-1-3
            img.img-responsive.i-5.wow.fadeInUp alt="Farsch" data-wow-delay="0s" src="public/proj_restauracja/proj_rest_foto_5.jpg" /
          .col-1-3
            img.img-responsive.i-6.wow.fadeInUp alt="Farsch" data-wow-delay="0s" src="public/proj_restauracja/proj_rest_foto_6.jpg" /
        img.img-responsive.i-0.wow.fadeInRight alt="Farsch" data-wow-delay="0s" src="public/proj_restauracja/proj_rest_pan.png" /
    .section.s-2
      .container
        .row
          img.img-responsive.i-7.wow.fadeInUp alt="Farsch" data-wow-delay="1200ms" src="public/proj_restauracja/proj_rest_foto_7.jpg" /
          img.img-responsive.i-8.wow.fadeInUp alt="Farsch" data-wow-delay="0s" src="public/proj_restauracja/proj_rest_foto_8.jpg" /
          img.img-responsive.i-12.wow.fadeInUp alt="Farsch" data-wow-delay="500ms" src="public/proj_restauracja/proj_rest_foto_12.jpg" /
          img.img-responsive.i-9.wow.fadeInRight alt="Farsch" data-wow-delay="0s" src="public/proj_restauracja/proj_rest_foto_9.jpg" /
          img.img-responsive.i-10.wow.fadeInRight alt="Farsch" data-wow-delay="0s" src="public/proj_restauracja/proj_rest_foto_10.jpg" /
          img.img-responsive.i-11.wow.fadeInLeft alt="Farsch" data-wow-delay="0s" src="public/proj_restauracja/proj_rest_foto_11.jpg" /
  .projects_navi
    .container
      span.projects_navi_item
        a href="/cuba.html" title=("Adwokat Staszczyk")  Adwokat Staszczyk
      span.projects_navi_item
        a href="/obolon.html" title=("Obolon Brewery Commercial")  Obolon Brewery Commercial
