app/tpl/modules/obolon.slim
.case.project
  .case-heading
    .container
      h1 Obolon Brewery Commercial
      .desc commercial / 2014
  .case-body
    .preview
      img.img-responsive src="public/proj_preview.jpg" alt=""
    .section.s-1
      .container
        .row.r-1
          .col-1-3
            h2 Idea
          .col-1-3
            .text
              p Obolon to największy browar na Ukrainie. Choć idzie z duchem czasu i do produkcji piwa używa nowoczesnych technologii, postanowliśmy pokazać go z nieco innej strony.
          .col-1-3
            .text
              p Naszą wizją było ukazanie piwa jako połączenia trzech żywiołów, reprezentowanych przez jęczmień, chmiel i wodę.
        .row.r-2
          .col-1-2
            p &nbsp;
          .col-1-2
            .text
              h3 Piękna historia
              p Pokazaliśmy jak, w metaforyczny sposób, rodzi się butelka doskonałego ukraińskiego piwa.
        .slides
          img.img-responsive.i-1.wow.fadeIn data-wow-delay="0s" src="public/proj_i_11.jpg" alt=""
          img.img-abs.i-2.wow.fadeInRight data-wow-delay=".2s" src="public/proj_i_12.jpg" alt=""
          img.img-abs.i-3.wow.fadeInRight data-wow-delay=".4s" src="public/proj_i_13.jpg" alt=""
          img.img-abs.i-4.wow.fadeInRight data-wow-delay=".6s" src="public/proj_i_14.jpg" alt=""
      img.pack src="img/pack_s1_1.png" alt=""
    .section.s-2
      .container
        .row.r-1
          .col
            .text
              h3 Wirtualne szyszki
              p Udało nam się stworzyć spektakularne przedstawienie, łącząc trójwymiarowa animację z niesamowitą symfoniczną muzyką.
        .slides
          img.img-responsive.i-1.wow.fadeIn data-wow-delay="0s" src="public/proj_i_21.jpg" alt=""
          img.img-abs.i-2.wow.fadeInLeft data-wow-delay=".2s" src="public/proj_i_22.jpg" alt=""
          img.img-abs.i-3.wow.fadeInLeft data-wow-delay=".4s" src="public/proj_i_23.jpg" alt=""
          img.img-abs.i-4.wow.fadeInLeft data-wow-delay=".5s" src="public/proj_i_24.jpg" alt=""
          img.img-abs.i-5.wow.fadeInLeft data-wow-delay=".6s" src="public/proj_i_25.jpg" alt=""
          img.img-abs.i-6.wow.fadeInLeft data-wow-delay=".8s" src="public/proj_i_26.jpg" alt=""
          img.bottle.wow.slideInRight data-wow-delay=".6s" src="img/bottle.png" alt=""
        .row.r-2
          .col
            .text
              h3 Liczy się każdy detal
              p Doskonale odwzorowane opakowanie, będące znakiem firmowym produktów firmy Obolon stanowi znakomitą puentę filmu.
    .section.s-3
      .container
        figure.cd-image-container
          img src="public/img_render_1.jpg"
          span.cd-image-label data-type="original"
          .cd-resize-img
            img src="public/img_render_2.jpg"
            span.cd-image-label data-type="modified"
          span.cd-handle
    .section.s-4
      .container
        .text
          .figure
            img src="img/logo_obolon.png" alt="" 
          p Dzięki najnowocześniejszym technikom animacji stworzyliśmy niesablonowe, porywające widowisko.
      .scene
        img.img-responsive src="public/scene.png" alt=""
    .section.s-5
      .container
        .video-wrapper
          //.zPlayButton Zobacz spot
          <iframe src="https://player.vimeo.com/video/132760453" width="100%" height="1148" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  .projects_navi
    .container
      span.projects_navi_item
        a href="/food.html" title=("Food photography")  Food photography
      span.projects_navi_item
        a href="/expo2017.html" title=("EXPO 2017")  EXPO 2017

dist/obolon.html
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <title>AV Digital Agency - Brewery Commercial</title>
    <link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="css/style.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="js/ie.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="page">
      <header class="page-header inner">
        <div class="container">
          <a class="logo" href="index.html"></a>
          <div class="panel">
            <ul class="contact-details">
              <li>
                hello@ars.vision
              </li>
              <li>
                +48 794 079 729
              </li>
            </ul>
            <button class="nav-toggle" type="button"></button>
          </div>
        </div>
      </header>
      <div class="sidebar">
        <div class="sidebar-content flex-container">
          <button class="nav-close" type="button"></button>
          <div class="flex-block">
            <a class="logo" href="index.html"></a>
          </div>
          <div class="flex-block">
            <ul class="sidebar-nav">
              <li>
                <a href="work.html">Work</a>
              </li>
              <li>
                <a href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
          <div class="flex-block">
            <div class="contact-details">
              <div class="dl">
                <div class="dt">
                  Talk to us
                </div>
                <div class="dd">
                  hello@ars.vision
                </div>
              </div>
              <div class="dl">
                <div class="dt">
                  Telephone number
                </div>
                <div class="dd">
                  +48 794 079 729
                </div>
              </div>
              <div class="dl">
                <div class="dt">
                  Address
                </div>
                <div class="dd">
                  60-461 Poznań
                </div>
                <div class="dd">
                  ul. Teokryta 35
                </div>
              </div>
              <ul class="social">
                <li>
                  <a href="https://twitter.com/ars_vision" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="https://www.facebook.com/Ars-Vision-1094259237291419/" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/company/10525594" target="_blank"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/arsvision/" target="_blank"><i class="fa fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="page-body">
        <div class="case project">
          <div class="case-heading">
            <div class="container">
              <h1>
                Obolon Brewery Commercial
              </h1>
              <div class="desc">
                commercial / 2014
              </div>
            </div>
          </div>
          <div class="case-body">
            <div class="preview">
              <img alt="" class="img-responsive" src="public/proj_preview.jpg" />
            </div>
            <div class="section s-1">
              <div class="container">
                <div class="row r-1">
                  <div class="col-1-3">
                    <h2>
                      Idea
                    </h2>
                  </div>
                  <div class="col-1-3">
                    <div class="text">
                      <p>
                        Obolon is the largest brewery in Ukraine. Although it keeps up with the times and uses the modern technologies to produce beer, we decided to show it from a slightly different angle.
                      </p>
                    </div>
                  </div>
                  <div class="col-1-3">
                    <div class="text">
                      <p>
                        Our idea was to show a beer as a combination of three elements: barley, hops and water.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row r-2">
                  <div class="col-1-2">
                    <p>
                      &nbsp;
                    </p>
                  </div>
                  <div class="col-1-2">
                    <div class="text">
                      <h3>
                        Beautiful story
                      </h3>
                      <p>
                        We showed how a perfect bottle of the Ukrainian beer is born in a metaphorical way.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="slides">
                  <img alt="" class="img-responsive i-1 wow fadeIn" data-wow-delay="0s" src="public/proj_i_11.jpg" /><img alt="" class="img-abs i-2 wow fadeInRight" data-wow-delay=".2s" src="public/proj_i_12.jpg" /><img alt="" class="img-abs i-3 wow fadeInRight" data-wow-delay=".4s" src="public/proj_i_13.jpg" /><img alt="" class="img-abs i-4 wow fadeInRight" data-wow-delay=".6s" src="public/proj_i_14.jpg" />
                </div>
              </div>
              <img alt="" class="pack" src="img/pack_s1_1.png" />
            </div>
            <div class="section s-2">
              <div class="container">
                <div class="row r-1">
                  <div class="col">
                    <div class="text">
                      <h3>
                        Virtual cones
                      </h3>
                      <p>
                        We managed to create an exciting show that combines a 3D animation with an amazing symphonic music.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="slides">
                  <img alt="" class="img-responsive i-1 wow fadeIn" data-wow-delay="0s" src="public/proj_i_21.jpg" /><img alt="" class="img-abs i-2 wow fadeInLeft" data-wow-delay=".2s" src="public/proj_i_22.jpg" /><img alt="" class="img-abs i-3 wow fadeInLeft" data-wow-delay=".4s" src="public/proj_i_23.jpg" /><img alt="" class="img-abs i-4 wow fadeInLeft" data-wow-delay=".5s" src="public/proj_i_24.jpg" /><img alt="" class="img-abs i-5 wow fadeInLeft" data-wow-delay=".6s" src="public/proj_i_25.jpg" /><img alt="" class="img-abs i-6 wow fadeInLeft" data-wow-delay=".8s" src="public/proj_i_26.jpg" /><img alt="" class="bottle wow slideInRight" data-wow-delay=".6s" src="img/bottle.png" />
                </div>
                <div class="row r-2">
                  <div class="col">
                    <div class="text">
                      <h3>
                        Every detail matters
                      </h3>
                      <p>
                        An amazing representation of the bottle, which is a trademark of all the Obolon products, zests the punchline of the film.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="section s-3">
              <div class="container">
                <figure class="cd-image-container">
                  <img src="public/img_render_1.jpg" /><span class="cd-image-label" data-type="original"></span>
                  <div class="cd-resize-img">
                    <img src="public/img_render_2.jpg" /><span class="cd-image-label" data-type="modified"></span>
                  </div>
                  <span class="cd-handle"></span>
                </figure>
              </div>
            </div>
            <div class="section s-4">
              <div class="container">
                <div class="text">
                  <div class="figure">
                    <img alt="" src="img/logo_obolon.png" />
                  </div>
                  <p>
                    Thanks to the most modern animation techniques we created an unconventional and thrilling video.
                  </p>
                </div>
              </div>
              <div class="scene">
                <img alt="" class="img-responsive" src="public/scene.png" />
              </div>
            </div>
            <div class="section s-5">
              <div class="container vimeoFrame">
                <div class="video-wrapper" style="cursor: pointer">
                  <iframe src="https://player.vimeo.com/video/132760453" width="100%" height="1148" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				  <div class="zPlayButton-wrap" style="display: none">
				    <div class="zPlayButton">Play</div>
				  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="projects_navi">
            <div class="container">
              <span class="projects_navi_item"><a href="/food.html" title="Food photography"> Food photography</a></span><span class="projects_navi_item"><a href="/expo2017.html" title="EXPO 2017 - International Exposition">EXPO 2017</a></span>
            </div>
          </div>
        </div>
      </div>
      <footer class="page-footer">
        <div class="wrap">
          <div class="row">
            <div class="logo-wrap">
              <a class="logo" href="#"></a>
            </div>
            <div class="contact-details">
              <div class="contact-block">
                <div class="dl">
                  <div class="dt">
                    Talk to us
                  </div>
                  <div class="dd">
                    <a href="mailto:hello@ars.vision">hello@ars.vision</a>
                  </div>
                </div>
                <div class="dl">
                  <div class="dt">
                    Office
                  </div>
                  <div class="dd">
                    <a href="mailto:office@ars.vision">office@ars.vision</a>
                  </div>
                </div>
              </div>
              <div class="contact-block">
                <div class="dl">
                  <div class="dt">
                    Telephone number
                  </div>
                  <div class="dd">
                    +48 794 079 729
                  </div>
                </div>
                <div class="dl">
                  <div class="dt">
                    Address
                  </div>
                  <div class="dd">
                    60-461 Poznań
                  </div>
                  <div class="dd">
                    ul. Teokryta 35
                  </div>
                </div>
              </div>
              <div class="contact-block">
                <div class="dl">
                  <div class="dt">
                    Let’s be friends
                  </div>
                  <ul class="social">
                    <li>
                      <a href="https://twitter.com/ars_vision" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="https://www.facebook.com/Ars-Vision-1094259237291419/" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/company/10525594" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/arsvision/" target="_blank"><i class="fa fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom">
            <div class="copyright">
              © 2016 Ars-Vision
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
