app/tpl/modules/udh.slim
.case.project.projectUDH
  .case-heading
    .container
      h1
        | UDH - FMCG trading & distribution
      .desc
        | website / 2014
  .case-body
    .preview
      img.img-responsive alt="" src="public/proj_udh/proj_udh_head.jpg" /
    .section.s-1
      .container
        .row.r-1
          .col-1-3
            h2
              | Idea
          .col-1-3
            .text
              p
                | UDH company is the third-largest importer of beer in Poland, with the official and exclusive distributor of the world's largest brewer Anheuser Busch InBev.
              .afterText
                span
                  a href="udh.pl" target="_blank" title="udh.pl"  udh.pl
          .col-1-3
            .text
              p
                | The aim of the site is promotion and guardianship of more than 20 brands of beers, including a world-known as Stella Artois, Beck`s, Hoegaarden, Leffe, Corona Extra and regional crafting Brovary.
        .row.r-2
          img.img-responsive.i-1.wow.fadeInLeft alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/pu_mac.png" /
        .row.r-3
          img.img-responsive.i-2.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/pu_18.png" /
        .row.r-4
          img.img-responsive.i-3.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="300ms" src="public/proj_udh/pu_screen1.jpg" /
    .section.s-2
      .container
        .row.r-1
          .col-1-4
            h2
              | List of brands
            .text
              p
                | Company's offer composes more than 150 products including soft drinks. For customer convenience implemented a convenient mechanism for filtering products to tastes and regions.
          .col-3-4
            img.img-responsive.i-1.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/pu_screen2.jpg" /
    .section.s-3
      .container
        .row.r-1
          .col-1-4
            h2
              | Landing page
            .text
              p
                | This is one of the most important pages on a site. The original location of the bottle in the center is a little "know-how" from ArsVision. On the left side is a description of the flavor qualities of the product, on the right - trade data. Below (we) collected events and news related to the product.
          .col-3-4
            img.img-responsive.i-1.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/pu_screen3.jpg" /
    .section.s-4
      .container
        .row.r-1
          img.img-responsive.i-1.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/pu_screen4.jpg" /
        .row.r-2
          .projectUDH_logosCover
            img.img-responsive.i-1.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_becks_sm.png" /
            img.img-responsive.i-1.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_belle-vue_sm.png" /
            img.img-responsive.i-1.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_steam-box_sm.png" /
            img.img-responsive.i-1.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_corona_sm.png" /
            img.img-responsive.i-1.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_czernichowkie_sm.png" /
            img.img-responsive.i-1.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_franziskaner_sm.png" /
            img.img-responsive.i-1.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_great-heck_sm.png" /
            img.img-responsive.i-1.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_hoegaareden_sm.png" /
            img.img-responsive.i-1.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_kaiserdorm_sm.png" /
            img.img-responsive.i-1.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_leffe_sm.png" /
            img.img-responsive.i-1.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_lowerbrau_sm.png" /
            img.img-responsive.i-2.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_obolon_sm.png" /
            img.img-responsive.i-2.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_doms_sm.png" /
            img.img-responsive.i-2.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_salitos_sm.png" /
            img.img-responsive.i-2.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_schnitzer-brau_sm.png" /
            img.img-responsive.i-2.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_samson_sm.png" /
            img.img-responsive.i-2.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_spaten_sm.png" /
            img.img-responsive.i-2.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_stella_sm.png" /
            img.img-responsive.i-2.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_svyturys_sm.png" /
            img.img-responsive.i-2.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_brick_sm.png" /
            img.img-responsive.i-2.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_wold-top_sm.png" /
            img.img-responsive.i-2.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_lwowskie_sm.png" /
  .projects_navi
    .container
      span.projects_navi_item
        a href="/brovary.html" title=("Brovary product")  Brovary product
      span.projects_navi_item
        a href="/cuba.html" title=("Adwokat Staszczyk")  Adwokat Staszczyk

dist/udh.html
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <title>ArsVision</title>
    <link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="css/style.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="js/ie.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="page">
      <header class="page-header inner">
        <div class="container">
          <a class="logo" href="index.html"></a>
          <div class="panel">
            <ul class="contact-details">
              <li>
                hello@ars.vision
              </li>
              <li>
                +48 794 079 729
              </li>
            </ul>
            <button class="nav-toggle" type="button"></button>
          </div>
        </div>
      </header>
      <div class="sidebar">
        <div class="sidebar-content flex-container">
          <button class="nav-close" type="button"></button>
          <div class="flex-block">
            <a class="logo" href="index.html"></a>
          </div>
          <div class="flex-block">
            <ul class="sidebar-nav">
              <li>
                <a href="work.html">Work</a>
              </li>
              <li>
                <a href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
          <div class="flex-block">
            <div class="contact-details">
              <div class="dl">
                <div class="dt">
                  Talk to us
                </div>
                <div class="dd">
                  hello@ars.vision
                </div>
              </div>
              <div class="dl">
                <div class="dt">
                  Telephone number
                </div>
                <div class="dd">
                  +48 794 079 729
                </div>
              </div>
              <div class="dl">
                <div class="dt">
                  Address
                </div>
                <div class="dd">
                  60-461 Poznań
                </div>
                <div class="dd">
                  ul. Teokryta 35
                </div>
              </div>
              <ul class="social">
                <li>
                  <a href="https://twitter.com/ars_vision" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="https://www.facebook.com/Ars-Vision-1094259237291419/" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/company/10525594" target="_blank"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/arsvision/" target="_blank"><i class="fa fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="page-body">
        <div class="case project projectUDH">
          <div class="case-heading">
            <div class="container">
              <h1>
                UDH - FMCG trading & distribution
              </h1>
              <div class="desc">
                website / 2014
              </div>
            </div>
          </div>
          <div class="case-body">
            <div class="preview">
              <img alt="" class="img-responsive" src="public/proj_udh/proj_udh_head.jpg" />
            </div>
            <div class="section s-1">
              <div class="container">
                <div class="row r-1">
                  <div class="col-1-3">
                    <h2>
                      Idea
                    </h2>
                  </div>
                  <div class="col-1-3">
                    <div class="text">
                      <p>
                        UDH company is the third-largest importer of beer in Poland, with the official and exclusive distributor of the world's largest brewer Anheuser Busch InBev.
                      </p>
                      <div class="afterText">
                        <span><a href="udh.pl" target="_blank" title="udh.pl"> udh.pl</a></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-1-3">
                    <div class="text">
                      <p>
                        The aim of the site is promotion and guardianship of more than 20 brands of beers, including a world-known as Stella Artois, Beck`s, Hoegaarden, Leffe, Corona Extra and regional crafting Brovary.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row r-2">
                  <img alt="OBOLON.PL" class="img-responsive i-1 wow fadeInLeft" data-wow-delay="0s" src="public/proj_udh/pu_mac.png" />
                </div>
                <div class="row r-3">
                  <img alt="OBOLON.PL" class="img-responsive i-2 wow fadeInUp" data-wow-delay="0s" src="public/proj_udh/pu_18.png" />
                </div>
                <div class="row r-4">
                  <img alt="OBOLON.PL" class="img-responsive i-3 wow fadeInUp" data-wow-delay="300ms" src="public/proj_udh/pu_screen1.jpg" />
                </div>
              </div>
            </div>
            <div class="section s-2">
              <div class="container">
                <div class="row r-1">
                  <div class="col-1-4">
                    <h2>
                      List of brands
                    </h2>
                    <div class="text">
                      <p>
                        Company's offer composes more than 150 products including soft drinks. For customer convenience implemented a convenient mechanism for filtering products to tastes and regions.
                      </p>
                    </div>
                  </div>
                  <div class="col-3-4">
                    <img alt="OBOLON.PL" class="img-responsive i-1 wow fadeInUp" data-wow-delay="0s" src="public/proj_udh/pu_screen2.jpg" />
                  </div>
                </div>
              </div>
            </div>
            <div class="section s-3">
              <div class="container">
                <div class="row r-1">
                  <div class="col-1-4">
                    <h2>
                      Landing page
                    </h2>
                    <div class="text">
                      <p>
                        This is one of the most important pages on a site. The original location of the bottle in the center is a little "know-how" from ArsVision. On the left side is a description of the flavor qualities of the product, on the right - trade data. Below (we) collected events and news related to the product.
                      </p>
                    </div>
                  </div>
                  <div class="col-3-4">
                    <img alt="OBOLON.PL" class="img-responsive i-1 wow fadeInUp" data-wow-delay="0s" src="public/proj_udh/pu_screen3.jpg" />
                  </div>
                </div>
              </div>
            </div>
            <div class="section s-4">
              <div class="container">
                <div class="row r-1">
                  <img alt="OBOLON.PL" class="img-responsive i-1 wow fadeInUp" data-wow-delay="0s" src="public/proj_udh/pu_screen4.jpg" />
                </div>
                <div class="row r-2">
                  <div class="projectUDH_logosCover">
                    <img alt="OBOLON.PL" class="img-responsive i-1 wow fadeInUp" data-wow-delay="0s" src="public/proj_udh/logos/logo_becks_sm.png" /><img alt="OBOLON.PL" class="img-responsive i-1 wow fadeInUp" data-wow-delay="0s" src="public/proj_udh/logos/logo_belle-vue_sm.png" /><img alt="OBOLON.PL" class="img-responsive i-1 wow fadeInUp" data-wow-delay="0s" src="public/proj_udh/logos/logo_steam-box_sm.png" /><img alt="OBOLON.PL" class="img-responsive i-1 wow fadeInUp" data-wow-delay="0s" src="public/proj_udh/logos/logo_corona_sm.png" /><img alt="OBOLON.PL" class="img-responsive i-1 wow fadeInUp" data-wow-delay="0s" src="public/proj_udh/logos/logo_czernichowkie_sm.png" /><img alt="OBOLON.PL" class="img-responsive i-1 wow fadeInUp" data-wow-delay="0s" src="public/proj_udh/logos/logo_franziskaner_sm.png" /><img alt="OBOLON.PL" class="img-responsive i-1 wow fadeInUp" data-wow-delay="0s" src="public/proj_udh/logos/logo_great-heck_sm.png" /><img alt="OBOLON.PL" class="img-responsive i-1 wow fadeInUp" data-wow-delay="0s" src="public/proj_udh/logos/logo_hoegaareden_sm.png" /><img alt="OBOLON.PL" class="img-responsive i-1 wow fadeInUp" data-wow-delay="0s" src="public/proj_udh/logos/logo_kaiserdorm_sm.png" /><img alt="OBOLON.PL" class="img-responsive i-1 wow fadeInUp" data-wow-delay="0s" src="public/proj_udh/logos/logo_leffe_sm.png" /><img alt="OBOLON.PL" class="img-responsive i-1 wow fadeInUp" data-wow-delay="0s" src="public/proj_udh/logos/logo_lowerbrau_sm.png" /><img alt="OBOLON.PL" class="img-responsive i-2 wow fadeInUp" data-wow-delay="0s" src="public/proj_udh/logos/logo_obolon_sm.png" /><img alt="OBOLON.PL" class="img-responsive i-2 wow fadeInUp" data-wow-delay="0s" src="public/proj_udh/logos/logo_doms_sm.png" /><img alt="OBOLON.PL" class="img-responsive i-2 wow fadeInUp" data-wow-delay="0s" src="public/proj_udh/logos/logo_salitos_sm.png" /><img alt="OBOLON.PL" class="img-responsive i-2 wow fadeInUp" data-wow-delay="0s" src="public/proj_udh/logos/logo_schnitzer-brau_sm.png" /><img alt="OBOLON.PL" class="img-responsive i-2 wow fadeInUp" data-wow-delay="0s" src="public/proj_udh/logos/logo_samson_sm.png" /><img alt="OBOLON.PL" class="img-responsive i-2 wow fadeInUp" data-wow-delay="0s" src="public/proj_udh/logos/logo_spaten_sm.png" /><img alt="OBOLON.PL" class="img-responsive i-2 wow fadeInUp" data-wow-delay="0s" src="public/proj_udh/logos/logo_stella_sm.png" /><img alt="OBOLON.PL" class="img-responsive i-2 wow fadeInUp" data-wow-delay="0s" src="public/proj_udh/logos/logo_svyturys_sm.png" /><img alt="OBOLON.PL" class="img-responsive i-2 wow fadeInUp" data-wow-delay="0s" src="public/proj_udh/logos/logo_brick_sm.png" /><img alt="OBOLON.PL" class="img-responsive i-2 wow fadeInUp" data-wow-delay="0s" src="public/proj_udh/logos/logo_wold-top_sm.png" /><img alt="OBOLON.PL" class="img-responsive i-2 wow fadeInUp" data-wow-delay="0s" src="public/proj_udh/logos/logo_lwowskie_sm.png" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="projects_navi">
            <div class="container">
              <span class="projects_navi_item"><a href="/brovary.html" title="Brewery Brand Photography">Brewery Photography</a></span><span class="projects_navi_item"><a href="/cuba.html" title="Jakub Staszczyk, Attorney at Law">Attorney Website</a></span>
            </div>
          </div>
        </div>
      </div>
      <footer class="page-footer">
        <div class="wrap">
          <div class="row">
            <div class="logo-wrap">
              <a class="logo" href="#"></a>
            </div>
            <div class="contact-details">
              <div class="contact-block">
                <div class="dl">
                  <div class="dt">
                    Talk to us
                  </div>
                  <div class="dd">
                    <a href="mailto:hello@ars.vision">hello@ars.vision</a>
                  </div>
                </div>
                <div class="dl">
                  <div class="dt">
                    Office
                  </div>
                  <div class="dd">
                    <a href="mailto:office@ars.vision">office@ars.vision</a>
                  </div>
                </div>
              </div>
              <div class="contact-block">
                <div class="dl">
                  <div class="dt">
                    Telephone number
                  </div>
                  <div class="dd">
                    +48 794 079 729
                  </div>
                </div>
                <div class="dl">
                  <div class="dt">
                    Address
                  </div>
                  <div class="dd">
                    60-461 Poznań
                  </div>
                  <div class="dd">
                    ul. Teokryta 35
                  </div>
                </div>
              </div>
              <div class="contact-block">
                <div class="dl">
                  <div class="dt">
                    Let’s be friends
                  </div>
                  <ul class="social">
                    <li>
                      <a href="https://twitter.com/ars_vision" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="https://www.facebook.com/Ars-Vision-1094259237291419/" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/company/10525594" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/arsvision/" target="_blank"><i class="fa fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom">
            <div class="copyright">
              © 2016 Ars-Vision
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
